<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Udacity Hut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/pizza.css">
</head>
<body>

    <div class="controls">
        <button class="add-pizza">Add Pizza</button>
    </div>

    <ul class="pizza-list"></ul>

    <script type="text/template" data-template="pizza">
        <li class="pizza" data-id="{{id}}">
            {{id}}
            <div class="pizza-controls">
                <a href="#" class="remove-pizza">X</a>
            </div>
        </li>
    </script>

    <script src="js/jquery.min.js"></script>
    <script src="js/pizza.js"></script>
</body>
</html>
